---
layout: page
title: "About"
description: ""
---
{% include JB/setup %}

Hey there! My name is Arvind and I am a Master's student, specializing in computer security, at Amrita University.
I will post about my explorations of the technical world here. I also occasionally blog at 
<a href="http://arvindsraj.wordpress.com">http://arvindsraj.wordpress.com.</a>
<br /> <br />
This is a fairly new site and I'm a novice web designer so do let me know your thoughts on my site.
<br /> <br />
<b> Also, check out <a href="http://resume.github.io/?arvindsraj">my github resume</a>. </b>
<br /> <br />
{% include JB/comments %}
