<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <script src="{{ ASSET_PATH }}/js/jquery-1.9.1.min.js"></script>
    <script src="{{ ASSET_PATH }}/js/bootstrap.min.js"></script>
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/bootstrap/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/pygments.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">

    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

  </head>

  <body>
        <div class="navbar">
            <div class="container">
              <div style="padding:0 0 0 15px">
                <a class="navbar-brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
                  <ul class="nav navbar-nav navbar-right">
                  {% assign pages_list = site.pages %}
                  {% assign group = 'navigation' %}
                  {% include JB/pages_list %}
                  </ul>
              </div>  
            </div>
        </div>
      
    <div class="container">
        <div class="col-md-12">
        <div class="navbar navbar-inverse navbar-static-top">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav" style="float: left">
                    {% for link in site.navigation %}
                        {% assign current = nil %}
                        {% capture fullurl %}{{ link.url }}index.html{% endcapture %}
                        {% if page.url == fullurl or page.url == link.url %}
                            {% assign current = 'active' %}
                        {% endif %}

                    {% if link.external %}
                        {% assign link_url = link.url %}
                    {% else %}
                        {% capture link_url %}{{ BASE_PATH }}{{ link.url }}{% endcapture %}
                    {% endif %}

                    {% if link.children %}
                        <li class="dropdown {{ current }}">
                            <a href="{{ link_url }}" class="dropdown-toggle" data-toggle="dropdown">{{ link.text }} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                {% for childlink in link.children %}
                                    {% if childlink.external %}
                                        {% assign childlink_url = childlink.url %}
                                    {% else %}
                                        {% capture childlink_url %}{{ BASE_PATH }}{{ childlink.url }}{% endcapture %}
                                    {% endif %}
                                    <li><a href="{{ childlink_url }}">
                                    {% if childlink.icon %}
                                        <i class="{{ childlink.icon }}" alt="{{ childlink.text }}" title="{{ childlink.text }}"></i>
                                    {% endif %}
                                    {{ childlink.text }}
                                    </a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% else %}
                        <li class="{{ current }}"><a href="{{ link_url }}">
                        {% if link.icon %}
                            <i class="{{ link.icon }}" alt="{{ link.text }}" title="{{ link.text }}"></i>
                        {% endif %}
                        {{ link.text }}
                        </a></li>
                    {% endif %}
                {% endfor %}
                        <li><a href="{{ BASE_PATH }}/rss.xml"><i class="icon-rss" alt="RSS" title="RSS"></i></a></li>
                        <li><a href="{{ BASE_PATH }}/atom.xml"><img src="{{ASSET_PATH }}/bootstrap/img/wikipedia-atom.png" alt="ATOM" title="ATOM"</i></a></li>
                    </ul>
                </div>
        </div>
    </div>

    <div class="container">
        <div class="col-md-12 wrapper">
            <div class="row">
                <div class="col-md-8">
                    <div class="content">
                        {{ content }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="sidebar">
                        {% include themes/twitter/sidebar.html %}
                    </div>
                </div>
            </div>
        <hr>
        </div>

        {% include themes/twitter/footer.html %}

        {% include JB/analytics %}
    </div>
  </body>
</html>
